<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultTestConnection" connectionString="Server=localhost;Database=MyDatabase;Trusted_Connection=Yes;"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlForward.DatabaseScripts" value="./DatabaseMigration"/>
    <add key="SqlForward.Initialization" value="Initialization.sql"/>
    <add key="SqlForward.Test.Cleanup" value="ALTER DATABASE [MyDatabase] SET SINGLE_USER WITH ROLLBACK IMMEDIATE; DROP DATABASE MyDatabase; CREATE DATABASE MyDatabase;"/>
    
  </appSettings>
</configuration>