<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultTestConnection" connectionString="Server=localhost;Database=MyDatabase;Trusted_Connection=Yes;" />
    <add name="DefaultMySQLConnection" connectionString="server=localhost;port=3306;database=MyDatabase;uid=databasemigration;password=databasemigration" />
  </connectionStrings>
  <appSettings>
    <add key="SqlForward.DatabaseScripts" value="./DatabaseMigration" />
    <add key="SqlForward.Initialization" value="Initialization.sql" />
    <add key="SqlForward.Test.Cleanup" value="ALTER DATABASE [MyDatabase] SET SINGLE_USER WITH ROLLBACK IMMEDIATE; DROP DATABASE MyDatabase; CREATE DATABASE MyDatabase;" />
    <add key="SqlForward.Test.MySQL.Cleanup" value="DROP DATABASE MyDatabase; CREATE DATABASE MyDatabase;" />
    <add key="TestApplicationName" value="MyTestApplication" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>